# Terraform directories and files
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*

# Crash log files
crash.log

# Plan output files
*.tfplan
*.binary
tfplan.json

# Override files (not commonly used, but sometimes created for local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars
*.tfvars
*.tfvars.json

# Ignore backup files created by editors
*.bak
*.swp
*.tmp
*.old
